.CardContainer {

    position: relative;
    width: 100%;
    max-width: 348px;
    height: 100%;
    margin-bottom: 20px;
}


.Heart {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3%;
    right: 3%;
    height: 35px;
    width: 35px;
    background: #ddd;
    border-radius: 50%;
}

.HeartIcon {
    height: 23px;
}

.CardImg {
    width: 100%;
    position: relative;
    max-width: 347px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.submit {
    position: absolute;
    top: 75%;
    left: 20%;
    z-index: 1;
    width: 60%;
}

.appoint {
    width: 100%;
}

.CardImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Rating {
    display: flex;
    float: right;
    align-items: center;
}

.RatingIcon {
    height: 20px;
}

.TagName {
    background: #be2364;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: medium;
    color: #fff;
}

.Places {
    margin-left: 12px;
    font-size: 18px;
    font-weight: medium;
    color: #111;
}

.CardName {
   
    padding: 10px 0px;
    font-size: 20px;
}

.MakeupName {
    font-size: 13px;
    font-weight: light;
}

@media (max-width: 280px) {
    .appoint {
        font-size: 12px;
    height: fit-content;
    padding: 0;
    }
}

@media (min-width: 422px) and (max-width: 628px) {
    .appoint {
        font-size: 12px;
    height: fit-content;
    padding: 0;
    
    }
}
@media (min-width: 769px) and (max-width: 1200px)  {
    .appoint {
    font-size: 13px;
    height: fit-content;
    padding: 0;
    }
}

@media (min-width: 600px) {}