.CardContainer {
   
    position: relative;
    width: 100%;
    max-width: 348px;
    height: 100%;
    /* padding: 10px; */
    /* margin-right: 15px; */
    margin-bottom: 20px;
}


.Heart {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3%;
    right: 3%;
    height: 35px;
    width: 35px;
    background: #ddd;
    border-radius: 50%;
}

.HeartIcon {
    height: 23px;
}

.CardImg {
    width: 100%;
    position: relative;
    max-width: 347px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.submit{
    position: absolute;
    z-index: 20;

    top: 50%;
    left: 13%;
}
.appoint{
    width: 15em;
}
.CardImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Rating {
    display: flex;
    float: right;
    align-items: center;
}

.RatingIcon {
    height: 20px;
}

.TagName {
    background: #be2364;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: medium;
    color: #fff;
}

.Place {
    margin-left: 10px;
    font-size: 14px;
    font-weight: medium;
    color: #111;
}

.CardName {
    /* padding-left: 10px; */
    padding: 10px 0px;
    font-size: 20px;
}

.MakeupName {
    font-size: 13px;
    font-weight: light;
}